*{
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;/*anima de forma suave la posición de desplazamento en vez de hacer un salto directo*/
}

/*navegador*/
header{
    top: 0px;
    position: sticky;
    background: white;
    z-index: 300;
}

header::after{/*Sombra en el header*/
    position:absolute;
    height: 0px;
    left: 0px;
    content: " ";
    background: linear-gradient(to bottom, #c9d6ff, #e2e2e2);
    width: 100%;
    height: 5px;
    filter: blur(4px);
    z-index: 1;
}

.container{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.nav{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,max-content);
    justify-content: space-between;
}

.nav_hamburguer{
    margin: 2px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.nav_logo{
    object-fit: contain;
    width: auto;
    height: auto;
    max-height: 190px;
    max-width: 190px;
    margin: 10px;
}

/*Navegación responsive (Móvil)*/

/*Barra Menu*/
.container__menu__responsive{
    position: fixed;
    left: 0;
    width: 100%;/*50% + left: 50%; es chulo tambn*/
    height: 0vh;
    top: 85px;
    background: rgba(5, 56, 241, 0.95);
    text-align: center;
    transition: all .5s;
    /*left: 50%;*/
}
.container__menu__responsive li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}
.container__menu__responsive li a{
    color: white;
    text-transform: uppercase;
    font-weight: 600px;
}
.container__menu__responsive li a.active, .container__menu__responsive li a:hover{
    color: rgba(245, 222, 179, 0.481);
    transition: .3s;
}
#check{
    display:none;
}
#check:checked ~ .container__menu__responsive{ /*como selector adyacente pero menos estricto. Aplica el cheked al container__menu__responsive*/
    height: 420px;
}
#check:checked ~ .container__menu__responsive li{
    display: block;
}


/*******main******/

/*Imagen*/
.jobs__section{
    object-fit: contain;
    width: 100%;
    height: 500px;
    padding: 0.1px;
    height: 100vh;
}
/* aja    https://developer.mozilla.org/es/docs/Web/CSS/background-image  */
.jobs.bgimg{
    background-image: url("./images/imagen-nav.jpg");
    background-size: cover;
    background-position: bottom;  /* 40%*/
}

.jobs_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: center;
}

/*Parrafo*/
.jobs_parrafo{
    font-family: 'Mali', cursive;
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 120px;
    font-size: 30px;
    z-index: 100;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 999;
}

/* aja */
.jobs_parrafo.sin_position{
    position: static;
}

/*Tabla*/
.grid__container{
    position: absolute;
    top: 240px;
    width: 90%;
    height: 250px;
    margin: auto;
    margin-left: 5%;
    padding: 0.1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);

    grid-template-areas:
    "e1 e2 e2 e2"
    "e1 e3 e3 e3"
    "e4 e5 e7 e8"
    "e4 e6 e7 e9"
    "e10 e11 e13 e14"
    "e10 e12 e13 e15"
    "e16 e16 e16 e16";

    color: black;
    background-color: rgba(245, 222, 179, 0.481);
}

.grid{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid_iconoLupa1{
    background-color: rgba(255, 255, 255, 0.414);
    grid-area: e1;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.grid_iconoLupa1-1{
    background-color: rgba(255, 255, 255, 0);
    grid-area: e1;
    cursor: pointer;
}

.grid_lugar2{
    background-color: rgba(255, 255, 255, 0.414);
    grid-area: e2;
    justify-content: start;
    border-top: 2px solid black;
    border-right: 2px solid black;
    color: black;
    font-weight: 600;
}

.grid_Barcelona3{
    background-color: rgba(255, 255, 255, 0.414);
    grid-area: e3;
    justify-content: start;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    color: #0247FE;
    font-weight: 600;
}

.grid_iconoCalendario4{
    background-color: rgba(255, 255, 255, 0.414);
    grid-area: e4;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.grid_iconoCalendario4-1{
    background-color: rgba(255, 255, 255, 0);
    grid-area: e4;
    cursor: pointer;
}

.grid_fecha_recogida5{
    background-color: rgba(255, 255, 255, 0.414);
    grid-area: e5;
    justify-content: start;
    color: black;
    font-weight: 600;
}

.grid_fecha_recogida6{
    background-color: rgba(255, 255, 255, 0.414);
    grid-area: e6;;
    justify-content: start;
    border-bottom: 2px solid black;
    color: #0247FE;
    font-weight: 600;
}

.grid_iconoReloj7{
    background-color: rgba(255, 255, 255, 0.414);
    grid-area: e7;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.grid_iconoReloj7-1{
    background-color: rgba(255, 255, 255, 0);
    grid-area: e7;
}

.grid_horaEscogida8{
    background-color: rgba(255, 255, 255, 0.414);
    grid-area: e8;
    justify-content: start;
    border-right: 2px solid black;
    color: black;
    font-weight: 600;
}

.grid_horaEscogida9{/*HORARIO*/
    background-color: rgba(255, 255, 255, 0.414);
    grid-area: e9;
    justify-content: start;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    cursor: pointer;
    color: #0247FE;
    font-weight: 900;
}

.grid_iconoCalendario10{
    background-color: rgba(255, 255, 255, 0.414);
    grid-area: e10;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.grid_iconoCalendario10-1{
    background-color: rgba(255, 255, 255, 0);
    grid-area: e10;
    cursor: pointer;
}

.grid_fecha_Devolucion11{
    background-color: rgba(255, 255, 255, 0.414);
    grid-area: e11;
    justify-content: start;
    color: black;
    font-weight: 600;
}

.grid_fechaDevolucion12{
    background-color: rgba(255, 255, 255, 0.414);
    grid-area: e12;
    justify-content: start;
    border-bottom: 2px solid black;
    color: #0247FE;
    font-weight: 600;
}

.grid_iconoReloj13{
    background-color: rgba(255, 255, 255, 0.414);
    grid-area: e13;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.grid_iconoReloj13-1{
    background-color: rgba(255, 255, 255, 0);
    grid-area: e13;
}

.grid_horaEscogida14{
    background-color: rgba(255, 255, 255, 0.414);
    grid-area: e14;
    justify-content: start;
    border-right: 2px solid black;
    color: black;
    font-weight: 600;
}

.grid_horaEscogida15{/*HORARIO*/
    background-color: rgba(255, 255, 255, 0.414);
    grid-area: e15;
    justify-content: start;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    cursor: pointer;
    color: #0247FE;
    font-weight: 900;
}

.contenedor__boton16{/*Boton de Buscar*/
    background-color: #0247FE;
    grid-area: e16;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    cursor: pointer;
    text-align: center;
    justify-content: center;
} 
.boton16{
    grid-area: e16;
    border-bottom: 2px solid black;
    cursor: pointer;
    
}
.grid_boton16{
    grid-area: e16;
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
}

         
/*CALENDARIO-----------------------*/

.calendar{
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 90px;
    font-size: 30px;
    z-index: 300;
    opacity: 0;
    pointer-events: none;
    transition: .3s opacity;
    background-color: white;
}

.grid_iconoCalendario4-1{/*nav__hamburger (nav__icon) apunte a #links o nav__hamburger es decir, mi icono apute a calendar__links*/
    cursor: pointer;
}

.calendar:target{
    pointer-events: unset;/*Activo*/
    opacity: 1;
}

.selected-date {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #313131;
	font-size: 28px;
    padding: 0.1px;
}

.active {
    cursor: pointer;
}

.calendar__item:hover{
    cursor: pointer;
    background-color: rgba(5, 56, 241, 0.838);

    transition: 0.2s;
}
.calendar__today:hover{
    cursor: pointer;
    background-color: rgba(5, 56, 241, 0.838);

    transition: 0.2s;
}

/*.calendar__iconosCalendario{/*nav__hamburger o links*/ /*Puesto yo para quitar el click de los elementos*/
/*    pointer-events: none;
/*}
*/
/*---------------------*/
.calendar__info {
    display: flex;
    display: center;
    align-items: center;
    font-size: 1.4em;
    text-transform: uppercase; 
    padding: 0.1px;
  }
  
  .calendar__prev, .calendar__next {
    cursor: pointer;
    font-size: 1.4em; 
  }
  
  .calendar__prev {
    margin-right: auto; 
  }
  
  .calendar__next {
    margin-left: auto; 
  }
  
  .calendar__week, .calendar__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 8px; 
  }
  
  .calendar__month, .calendar__year {
    padding: 0.5em 0.2em; 
  }
  
  .calendar__item {
    text-align: center;
    line-height: 2; 
  }
  
    /*Marca en azulado el día de hoy---------------------------*/
    .calendar__today {
        color:  rgb(112, 119, 216);
        margin: auto; 
    }
    .calendar__last-days {/*Marca los días que no son del mes*/
        opacity: .3; 
    }
      
.cruz__cerrar-icono{/*CIERRA EL CALENDARIO----------------------------------*/
    position: absolute;
    align-self: center;
    opacity: 0;
}

.calendar__boton{/*CIERRA EL CALENDARIO----------------------------------*/
    display: inline-block;
    position: absolute;
    background-color: #0247FE;
    color:aliceblue;
    width: 100%;
    height: 35px;
}

.calendar__boton-cancelar{/*CIERRA EL CALENDARIO----------------------------------*/
    display: block;
    position: absolute;
    background-color: rgb(143, 66, 67);
    color:aliceblue;
    width: 100%;
    height: 35px;
}

/*contenedor__caja de texto-----------------------*/
.contenedor__caja{
    display: block;
    background:#f8f8fa;
    width: 100%;
    height: 20em;
    padding: 0.1px;
}
.contenedor__caja__parrafo{
    display: block;
    padding: 6em 1em 0em 1em;
    font-size: 1.2em;
    color: #0247FE;
    
} 
.elemento-encabezado{
    font-family: 'Wallpoet', cursive;
    text-align: center;
}
 
/*****contenedor__caja de imagenes Coche y Moto*****/

.contenedor__caja__vehiculos{
    width: 100%;
    min-height: 100px;
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;

    padding: 0.1px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    scroll-margin-top: 18ex;/*aplica margin al evento enlazar vehículos*/
}
.contenedor__caja__vehiculos__dinamico{
    margin: 0 auto;
}

/**Coche Tesla**/
.caja__tesla{
    display: block;
    object-fit: contain;
    width: auto;
    height: auto;
    padding: 0.1px;
}
.caja__tesla__icono{
    display: block;
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 650px;
    max-width: 900px;
    display: flex;
    justify-content: center;
    
}
.iconoTesla{
    display: block;
    object-fit: contain;
    width: 35%;
    height: auto;
    max-height: 400px;
    max-width: 400px;
}
.imagenCoche{
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 650px;
    max-width: 900px;
    cursor: pointer;
}

/**Moto Zero**/

.caja__motoZero{
    display: block;
    object-fit: contain;
    width: auto;
    height: auto;
    padding: 0.1px;
}
.caja__zero__icono{
    display: block;
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 650px;
    max-width: 900px;
    display: flex;
    justify-content: center;
}
.iconoZero{
    display: block;
    object-fit: contain;
    width: 35%;
    height: auto;
    max-height: 400px;
    max-width: 400px;
}
.imagenMoto{
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 650px;
    max-width: 900px;
    cursor: pointer;
}

/*Contáctanos*/

.contenedor__caja__contactanos{
    display: inline-block;
    background: rgba(241, 236, 231, 0.838);
    width: 100%;
    height: 18em;
    padding: 0.1px;
}
.contenedor__caja__parrafo_contactanos{
    display: block;
    padding: 6em 1em 0em 1em;
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
} 
.elemento-encabezado-cliente{
    display: block;
    text-align: center;
    padding: 0.5em 1em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    color: rgb(54, 51, 51);
}
.boton__contáctanos{
    display: block;
    padding: 0.5em 1em;
    background: #0247FE;
    color: white;
    border-radius: 2em;
    border:none;
    text-align: center;
    margin-left: 0.4em;
    margin-right: 0.4em;
    cursor: pointer;
}

/*******Descripción y Contacto********/

/*Logo*/
.contenedor__contacto__conocernos{
    height: 700px;
    width: 100%;
    background: #0247FE;
    padding: 0.1px;
}
.contenedor__contacto__conocernos__grid{
    height: 280px;
    width: 100%;
    margin-bottom: 5px;
    padding: 0.1px;
}
.contenedor__contacto__conocernos__logotipo{
    height: 80px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding: 0.1px;
}

/*Texto*/
.contenedor__contacto__conocernos__texto{
    height: 100px;
    width: 70%;
    min-width: 250px;
    text-align: center;
    margin: 0 auto;
}
.contenedor__texto{
    color: #818a91;
}

/*Iconos*/
.contenedor__redesSociales{
    height: 100px;
    width: 70%;
    min-width: 250px;
    text-align: center;
    margin: 0 auto;
}
.contenedor__redesSociales__instagramFacebook{
    margin-top: 4em;
}
.icono_instagram{
    margin-right: 10px;
}


/*******Descripción y Contacto********/

.contenedor__contacto__conocernos__grid-sitio{
    width: 100%;
    background: #0247FE;
    padding: 0.1px;
    margin-top: 120px;
}
/*Ven a conocernos en:*/
.contenedor__contacto__conocernos__sitio{
    height: 40px;
    width: 70%;
    min-width: 250px;
    text-align: center;
    margin: 0 auto;
    color: white;
}
.contenedor__contacto__conocernos__sitio__especifico{
    color: #818a91;
    text-align: center;
}

.contenedor__telefono__contacto{
    height: 40px;
    width: 70%;
    min-width: 250px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top: 20px;
}
.contenedor__telefono__contacto__numero{
    color: #818a91;
    text-align: center;
}

.contenedor__comercial{
    height: 40px;
    width: 70%;
    min-width: 250px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top: 20px;
}
.contenedor__comercial__horario{
    color: #818a91;
    text-align: center;
}

.footer__informacion{
    height: 66px;
    background-color: rgb(45, 45, 45);
}
.footer__informacion__contacto{
    position: relative;
    top: 10px;
    text-align: center;
    color: #818a91;
}


/**************************************CONTACTO Y CONTACTANOS OCULTO*******************************************/
.contenedor__contacto__contactanos{
    display: none;
    background: white;

    position: absolute;
    width: 50%;
    top: 400px;
    left: 0;
    right: 0;
    margin: auto;

    z-index: 500;/*Por encima del nav*/
    border: 4px solid #0247FE;

}

.contenedor__cerrar{
	object-fit: contain;
    width: auto;
    height: auto;
    max-width: 100%;
 	max-height: 100%;
}
.contenedor__cerrar__contacto{
	height: auto;
	width: 100%;
	display: flex;
	justify-content: end;
	margin-top: 10px;
	margin-left: -10px;
}

.contenedor__logo{
    justify-content: center;
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0.1px;
    padding-top: 20px;
    border-radius: 5%;
    scroll-margin-top: 18ex;/*aplica margin al evento enlazar vehículos*/
    margin-bottom: 50px;
}
.contenedor__logo__contacto{
    width: 30%;
}

.iconoLogo{
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 650px;
    max-width: 900px;
}

.reserva__realizada{
	height: 100px;
    width: 70%;
    min-width: 250px;
    text-align: center;
    margin: 0 auto;

}
.reserva__realizada__correctamente{
	margin: auto;
}
.reserva__realizada__correctamente-p{
	font-size: 1.6em;
}

/************************* FORMULARIO ******************************/

.contenedor__form {
    display: block;
    height: 100px;
    margin-left: 5%;  
}

.contenedor__form__cabeza {
    color: black;
    font-weight: 600;
    font-size: 1.6em;
}

.contenedor__form__cabeza h2 {
  margin: 0;
}

.contenedor__form{
	-webkit-box-shadow: 1px 1px 17px -5px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 17px -5px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 17px -5px rgba(0,0,0,0.15);
    display: block;
    padding: 0.1px;
    height: 800px;
    width: 100%;
    
    justify-content: center;
    width: 90%;
    min-height: 100px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0.1px;
    padding-top: 0px;
    border-radius: 5%;
    scroll-margin-top: 18ex;/*aplica margin al evento enlazar vehículos*/
    margin-bottom: 10px;
}

.form {
  	padding: 30px 40px;	
	color: black;
  	font-weight: 600;
  	font-size: 1rem;
}

.form__grupo {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.form__grupo label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 24px;
}
.comentario__texto label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 24px;
}

.form__grupo input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 24px;
    padding: 16px;
    width: 100%;
}
.comentario__texto textarea {
  border: 2px solid #1d1a1a3f;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 24px;
  padding: 16px;
  width: 100%;
  padding-bottom: 50px;
}

.form__grupo img {
  /*visibility: hidden;*/
  position: absolute;
  top: 10px;
  right: 10px;
}

.form button {
  background-color: #0247FE;
  border: 2px solid #0247FE;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 24px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  font-weight: 600; 
}

.form button:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.cajaBox{
  display: inline-block;
  margin-top: 5px;
  margin-left: 0px;
  font-size: 16px;
}

.form__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.form__grupo-input {
	position: relative;
}

.form__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.form__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.form__input-error {
	font-size: 15px;
  margin-top: 4px;
	margin-bottom: 0;
	display: none;
  color: #bb2929;
}

.form__input-error-activo {
	display: block;
}

.form__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.form__grupo-correcto .form__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.form__grupo-incorrecto .form__label {
	color: #bb2929;
}

.form__grupo-incorrecto .form__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.form__grupo-incorrecto .form__input {
	border: 3px solid #bb2929;
}
/************************* fin FORMULARIO ******************************/




@media (min-width: 768px) {

    /*Navegación responsive (Desktop)*/

    /*Barra Menu*/
    .nav_hamburguer{
        display: none; 
    }
    .container__menu__responsive{/*Aqui puedo jugar con inicio vehiculo contactos*/
        display: flex;
        align-items: center;
        justify-content: end;
        top: 44px;
    }
    .container__menu__responsive li{/*La separación entre ellos mismos*/
        display: flex;
        flex-direction: row;
        margin-right: 40px;
    }
    .container__menu__responsive li a{
        color: #0247FE;
        margin-right: 0.5em;
    }
    .container__menu__responsive li a.active, .container__menu__responsive li a:hover{
        background-color:  #2e58cb;
        color: white;
        padding: 0.5em 1em;
        border: 2px solid  #2e58cb;
        transition: .3s;
    }
}

@media (max-width: 514px) {/*Responsive para calendario tamaño móvil*/

    /*Navegación responsive (Móvil)*/

    /*Se pone más pequeño el tamaño de todo el calendario*/
    .calendar__info{
        font-size: 0.8em;
    }
    .calendar__week{
        font-size: 0.8em;
    }
    .calendar__dates{
        font-size: 0.8em;
    }
}

/**************************************CONTACTO Y CONTACTANOS OCULTO*******************************************/
@media (max-width: 1105px) {/*Responsive para calendario tamaño móvil*/

    /*Navegación responsive (Móvil)*/

    /*Se pone más pequeño el tamaño de todo el calendario*/
    .contenedor__contacto__contactanos{
        width: 90%;
    }
}

@media (max-width: 600px) {/*Responsive para calendario tamaño móvil*/

    /*Navegación responsive (Móvil)*/

    /*Se pone más pequeño el tamaño de todo el calendario*/
    .contenedor__contacto__contactanos{
        width: 99%;
    }
}

/***aja****/
.alinear-calendar-recogida{
    grid-area: e4;
    align-self: self-end;
}

.alinear-calendar-fechadevolucion{
    grid-area: e10;
    align-self: self-end;
}

/* aja */
.menufiltros {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
}

/* aja */
.MuiDrawer-paperAnchorLeft{
    /* background-color: red !important;
    width: 100%;
    @apply   */
}


